/* global variables */
:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
}

/* Universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
  }

/* header */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
    color: #fce138;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #fcd138;
}

header nav {
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    font-size: 22px;
    font-weight: lighter;
    margin: 0 30px;
}



/* Hero Style Start */
.hero {
    background-image: url("../images/hero-bg.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}
/* Hero Style End */

.hero-form {
    border: solid 3px #024e76;
    background-color: #fce138;
    padding: 20px;
    width: 500px;
    color: #024e76;
    position: absolute;
    bottom: 120px;
    right: 140px;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

.form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

/* What We Do Section */

.intro{
    text-align: center;
    padding: 55px;
}

.intro p{
    color: #39a6b2;
    font-size: 20px;
    margin: 0 auto;
    line-height: 1.5;
    width: 78%;
}

/* What You Do Section */

.steps{
    text-align: center;
    background: #fce138;
    padding: 55px;
}

.steps div{
    margin-bottom: 80px;
}

.steps h3{
    color: #024e76;
    font-size: 47px;
    margin-top: 10px;
}

.steps img{
    width: 16%;
    margin: 10px 0;
}

.steps p{
    color: #39a6b2;
    font-size: 23px;
}

.steps span{
    font-size: 38px;
}

/* SECTION TITLE STYLES START */
.section-title{
    font-size: 48px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
  }
  
  .primary-border {
    border-color: var(--primary-color);
  }
  
  .secondary-border {
    border-color: var(--tertiary-color);
  }
  /* SECTION TITLE STYLES END */
s
main {
    display: flex;
    margin-top: 2%;
}

.go {
    flex: 1 1 0;
    padding: 50px;
    text-align: center;
    border: 2px solid #13293d;
    color: #fce138;
    justify-content: center;
}

.go h3 {
    font-size: 36px;
    background-color: #13293d;
    max-width: 80%;
    margin-left: 10%;
}

.go h4 {
    font-size: 26px;
    background-color: #13293d;
    max-width: 80%;
    margin-left: 10%;
}

.go p {
    /* padding: 20px; */
    font-size: 20px;
    background-color: #13293d;
    max-width: 80%;
    margin-left: 10%;
}

.go img {
    width: 80%;
    min-width: 200px;
}

.trainer-bio.text-left {
    text-align: left;
}

/* REACH OUT STYLE START */
.contact {
    background: var(--secondary-color);
}

.contact h2 {
color: var(--primary-color);
}
 
.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
}

.contact-info > * {
    flex: 1;
    margin: 15px;
}

.contact-info h3 {
    color: var(--primary-color);
    font-size: 32px;
}

.contact-info p, 
.contact-info address 
{
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}

.contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
}

.contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
}

.contact-form button {
    width: 100%;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}

.contact-form button:hover {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}

.contact-info a {
    color: var(--primary-color);
}

/* REACH OUT STYLES END */

/* Footer */
footer {
    background:var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color:var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
}

footer a {
    color:var(--secondary-color);
}




